.about_team_section {
    padding: 70px 0 100px;
}

.about_team_section .gradient_1 {
    background: radial-gradient(50.11% 50.11% at 50.11% 49.89%, #DCE8BA 0%, #DCE8BA 0.01%, rgba(220, 232, 186, 0) 100%);
    width: 1100px;
    height: 1500px;
    top: -200px;
    position: relative;
}

.aboutus_section .hero_container>div>h1 {
    margin: 0 0 30px 0;
}

.aboutus_section .primary_ul {
    margin: 30px 0;
}

.about_team-m-container {
    position: relative;
    z-index: 2;
}

.about_team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.about_team-card {
    padding: 20px;
    width: 350px;
    overflow: hidden;
    background: white;
    border-radius: 18px;
    box-shadow: 0px 6px 7px 0px #0D194214;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_team-card img {
    width: 80px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

.about_team-card h3 {
    min-width: max-content;
    margin: 10px 0;
}

.about_team-card>p {
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.6px;
    text-align: center;
}

.about_team-card>span {
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.52px;
    text-align: center;
}

.about_team-card .span_p * {
    font-size: 16px;
}

.about_team-card .span_p {
    margin: 10px 0 20px;
}

.about_team-card a {
    display: block;
    margin: auto 0 0 auto;
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.52px;
    color: var(--violet-2);
}

/* --- */
.about_values-m-container {
    position: relative;
    z-index: 2;
}

.about_values-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 60px 0;
}

.about_value-card {
    width: 28%;
}

.about_value-card .head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0 0 30px 0;
}

.about_value-card .head img {
    width: 65px;
}

.about_values-m-container .btn {
    margin: 0 auto;
    display: block;
}

/* ---- */
.blogs-m-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs-m-container h2 {
    margin: 10px 0 40px 0;
}

.blogs-m-container .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
}

.blogs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin: 80px 0 0 0;
}

.blogs-container .blog-card {
    width: 350px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 6px 7px 0px #64646440;
    border-radius: 20px;
}

.blogs-container .blog-card img {
    width: 100%;
}

.blogs-container .blog-card .blog-body {
    padding: 10px 20px;
}

.blogs-container .blog-card h4 {
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.6px;
    text-align: left;
}

.blogs-container .blog-card p {
    margin: 20px 0 20px;
}

.blogs-container .blog-card a {
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: 24.52px;
    margin: auto 0 10px auto;
    display: block;
    color: var(--violet-2);
    max-width: max-content;
}

@media (max-width:1180px) {
    .about_team-card {
        width: 45%;
    }

    .about_value-card {
        width: 40%;
    }

    .blogs-container .blog-card {
        width: 45%;
    }
}

@media (max-width:800px) {
    .about_team-card {
        width: 350px;
    }

    .about_team_section .gradient_1 {
        height: 3600px;
        top: -500px;
    }

    .about_team_section {
        padding: 60px 0 100px;
    }

    .about_value-card {
        width: 100%;
    }

    .blogs-container .blog-card {
        width: 80%;
    }
}

@media (max-width:600px) {
    .blogs-container .blog-card {
        width: 90%;
    }
}

@media (max-width:400px) {
    .blogs-container .blog-card {
        width: 100%;
    }
}

@media (max-width:500px) {
    .about_team-card {
        width: 95%;
    }
}