.c_aware_section {
    padding: 50px 0;
    background: var(--cream);
    overflow: hidden;
}

.c_aware_section .gradient_1 {
    width: 800px;
    height: 800px;
    top: -100px;
    left: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #E0D1FF 0%, rgba(224, 209, 255, 0) 100%);
    position: absolute;
}

.c_aware_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.c_aware_container>h1 {
    font-family: var(--ff-primary);
    font-size: 42px;
    font-weight: 500;
    padding: 0 50px;
    text-align: center;
    ;
    max-width: 750px;
    margin: 0 auto;
}

.c_aware_container>._desc {
    width: 730px;
    font-family: var(--ff-primary);
    font-size: 18px;
    line-height: 24.52px;
    text-align: center;
    margin: 40px auto 50px;
}

.c_aware_container>._desc span {
    font-weight: 700;
}

.c_aware_container>._desc p {
    display: inline;
    font-weight: 400;
}

.c_aware_container .qs-img_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c_aware_container .qs-img_container>* {
    width: 47%;
}

.c_aware_container .qs-img_container ._img img {
    width: 100%;
}

.c_aware_container .qs-img_container ._qs ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
    padding-left: 20px;
}

.c_aware_container .qs-img_container ._qs ul li {
    list-style-type: decimal;
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: 700;
    line-height: 24.52px;
    text-align: left;
}

/* Process Section Style  */
.process_section {
    padding: 150px 0 1300px;
    overflow: hidden;
    background: var(--cream);
}

.process_section.process_steps_section {
    overflow: visible;
    padding: 0;
    margin: -1220px 0px 100px;
    background: transparent;
}

.process_section .gradient_1 {
    background: radial-gradient(50.11% 50.11% at 50.11% 49.89%, #DCE8BA 0%, #DCE8BA 0.01%, rgba(220, 232, 186, 0) 100%);
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -300px;
    left: 50px;
}

.our_process-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 50px;
}

.our_process-container .text_img {
    display: flex;
}

.our_process-container .text_img ._text {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our_process-container .text_img ._text h1 {
    font-family: var(--ff-primary);
    font-size: 42px;
    font-weight: 500;
}

.our_process-container .text_img ._text p,
.our_process-container .text_img ._text span {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.our_process-container .text_img ._text span {
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}

.our_process-container .text_img ._img {
    width: 40%;
    margin-left: auto;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.our_process-container .text_img img {
    width: 100%;
}

.our_process-container h2 {
    font-family: var(--ff-primary);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.our_process-container ._process_steps {
    display: flex;
    justify-content: space-between;
}

.our_process-container ._process_steps li {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 6px 7px 0px #0D194214;
    border-radius: 15px;
    width: 18%;
    height: 160px;
    padding: 20px 20px;
    position: relative;
}

.our_process-container ._process_steps li p {
    background: var(--violet);
    position: absolute;
    margin: 0 auto;
    width: 130%;
    left: -15%;
    top: 140%;
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    border-radius: 28px;
    z-index: -1;
    box-shadow: 0px 12px 14px 0px rgba(13, 25, 66, 0.08);
    /* user-select: none; */
    opacity: 0;
    transition: all .4s ease;
}

@media (min-width:800px) {
    .our_process-container ._process_steps li:hover p {
        z-index: 2;
        top: 110%;
        opacity: 1;
    }
}

.our_process-container ._process_steps li p span:first-child {
    color: #FFF;
    text-align: center;
    /* H4 */
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.our_process-container ._process_steps li p span:last-child {
    color: #FFF;
    text-align: center;
    /* MainText */
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.our_process-container ._process_steps li h4 {
    font-family: var(--ff-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 24.6px;
    text-align: left;
    position: relative;
    padding-left: 36px;
}

.our_process-container ._process_steps li {
    counter-increment: list-counter;
}

.our_process-container ._process_steps li h4::before {
    content: counter(list-counter);
    width: 30px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--violet);
    position: absolute;
    left: 0;
    top: -3px;
    font-family: var(--ff-primary);
    font-size: 24px;
    font-weight: 400;
    border-radius: 8px;
    color: white;
    text-align: center;
}

.our_process-container ._process_steps li div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.our_process-container ._process_steps li div img {
    width: 50px;
}

@media (max-width:1180px) {
    .c_aware_container>h1 {
        font-size: 38px;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 38px;
    }
}

@media (max-width:1100px) {
    .c_aware_container>h1 {
        font-size: 35px;
    }

    .our_process-container ._process_steps {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .our_process-container ._process_steps li {
        width: 25%;
    }

    .process_section .gradient_1 {
        height: 1200px;
        top: -300px;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 36px;
    }
}

@media (max-width:1000px) {
    .c_aware_container>h1 {
        font-size: 36px;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 34px;
    }

    .our_process-container .text_img img {
        width: 110%;
        margin-left: -30px;
    }

    .process_section .gradient_1 {
        top: -270px;
        left: -50px;
    }
}

@media (max-width:900px) {
    .c_aware_container>h1 {
        font-size: 34px;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 32px;
    }

    .our_process-container .text_img img {
        margin-left: 0px;
    }

    .our_process-container ._process_steps {
        gap: 40px;
    }

    .our_process-container {
        gap: 70px;
    }
}

@media (max-width:800px) {
    .c_aware_container>h1 {
        font-size: 32px;
    }

    .c_aware_container .qs-img_container {
        flex-direction: column;
    }

    .c_aware_container>._desc {
        width: 100%;
    }

    .c_aware_container .qs-img_container>* {
        width: 100%;
    }

    .c_aware_container .qs-img_container>._img {
        width: 60%;
        margin: 10px auto 30px;
    }

    .c_aware_section .gradient_1 {
        width: 800px;
        height: 1500px;
        top: -250px;
        left: -20px;
    }

    .our_process-container .text_img {
        flex-direction: column-reverse;
    }

    .our_process-container .text_img ._text {
        width: 100%;
    }

    .our_process-container .text_img ._img {
        width: 100%;
    }

    .our_process-container .text_img img {
        width: 60%;
        margin: 0 auto 50px;
    }

    .process_section .gradient_1 {
        left: -100px;
        height: 1700px;
    }

    .our_process-container ._process_steps li {
        display: grid;
        width: 45%;
        height: auto;
        grid-template-areas: '_img heading'
            '_img desc';
        padding: 0;
        overflow: hidden;
    }

    .our_process-container ._process_steps li div {
        grid-area: _img;
        background: var(--violet);
        margin: 0;
        align-items: center;
        display: flex;
        width: 80px;
    }

    .our_process-container ._process_steps li div img {
        filter: invert(100%);
        width: 60%;
    }

    .our_process-container ._process_steps li h4 {
        display: block;
        grid-area: heading;
        width: auto;
        margin: 15px 0 12px 10px;
        padding-right: 10px;
    }

    .our_process-container ._process_steps li p {
        display: block;
        grid-area: desc;
        width: auto;
        padding: 0;
        padding-right: 10px;
        margin: 0;
        margin: 0px 0 15px 10px;
        opacity: 1;
        z-index: 2;
        position: static;
        background: transparent;
        text-align: left;
        box-shadow: unset;
        color: black;
    }

    .our_process-container ._process_steps li p span:first-child {
        display: none;
    }

    .our_process-container ._process_steps li p span:last-child {
        color: black;
        font-size: 16px;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 31px;
    }
}

@media (max-width:700px) {
    .c_aware_container>h1 {
        font-size: 30px;
        padding: 0;
    }

    .c_aware_container .qs-img_container>._img {
        width: 70%;
    }

    .our_process-container .text_img img {
        width: 70%;
    }

    .our_process-container ._process_steps {
        flex-direction: column;
    }

    .our_process-container ._process_steps li {
        width: 100%;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 30px;
    }

    .process_section .gradient_1 {
        height: 2100px;
        top: -340px;
    }
}

@media (max-width:600px) {
    .c_aware_container>h1 {
        font-size: 28px;
    }

    .c_aware_container .qs-img_container>._img {
        width: 80%;
    }

    .our_process-container .text_img img {
        width: 80%;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 28px;
    }

    .our_process-container .text_img img {
        width: 80%;
    }
}

@media (max-width:500px) {
    .c_aware_container>h1 {
        font-size: 26px;
    }

    .c_aware_container .qs-img_container>._img {
        width: 90%;
    }

    .our_process-container .text_img ._text h1 {
        font-size: 26px;
    }

    .our_process-container .text_img img {
        width: 90%;
    }
}

@media (max-width:400px) {
    .c_aware_container .qs-img_container>._img {
        width: 100%;
    }

    .our_process-container .text_img img {
        width: 100%;
    }
}