.ind_hero_section .left_cont-container {
    width: 55%;
}

.ind_hero_section .right_img-container {
    width: 40%;
}

.ind_hero_section .left_img-container {
    width: 35%;
}

.ind_hero_section .right_cont-container {
    width: 60%;
}