:root {
  /* Light Variations */
  --cream: #f8f2ef;
  /* Blue Variations */
  --blue: #cbd7ff;
  --d-blue: #0d1942;
  /* Green Variations */
  --green: #85a627;
  --d-green: #98ba39;
  --l-green: #dce8ba;
  /* Violet Variations */
  --violet: #623fab;
  --l-violet: #e0d1ff;
  /* Font Families Variations */
  --ff-primary: "ClashDisplay-Variable", sans-serif;
  --ff-secondary: "Noto Sans", system-ui;
}

.h_hero_section {
  background: var(--cream);
  overflow: hidden;
  padding: 50px 0 60px;
}

.h_hero_section .gradient_1 {
  width: 858px;
  height: 1600px;
  top: -500px;
  left: -280px;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%,
      #e0d1ff 0%,
      rgba(224, 209, 255, 0) 100%);
}

.h_hero_section .gradient_2 {
  width: 800px;
  height: 2300px;
  top: -700px;
  right: -350px;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%,
      #e0d1ff 0%,
      rgba(224, 209, 255, 0) 100%);
  transform: rotate(15deg);
}

.h_hero_container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  gap: 60px;
}

.h_hero_container .img_content {
  display: flex;
  justify-content: space-between;
}

.h_hero_container ._img_title {
  width: 44%;
}

.h_hero_container ._img_title h1 {
  margin-bottom: 24px;
  font-family: var(--ff-primary);
  font-size: 50px;
  font-weight: 500;
}

.h_hero_container ._img_title img {
  width: 100%;
}

.h_hero_container ._content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.h_hero_container ._content h1 {
  font-family: var(--ff-primary);
  font-size: 42px;
  font-weight: 500;
  line-height: 51.66px;
  text-align: left;
}

.h_hero_container ._content div>* {
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 700;
}

.h_hero_container ._content div>p {
  font-weight: 400;
  display: inline;
}

/* Learning Slides CSS */
.h_hero_container .learning_slides {
  display: flex;
  justify-content: space-between;
}

.h_hero_container .learning_slide {
  width: 32%;
  background: black;
  display: flex;
  flex-direction: column;
  padding: 30px 18px 24px;
  border-radius: 20px;
  box-shadow: 0px 6px 7px 0px #64646440;
}

.h_hero_container .learning_slide.blue {
  background: var(--d-blue);
}

.h_hero_container .learning_slide.violet {
  background: var(--violet);
}

.h_hero_container .learning_slide.green {
  background: var(--green-2);
}

.h_hero_container .learning_slide h3 {
  font-family: var(--ff-primary);
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.h_hero_container .learning_slide span {
  background: var(--green-2);
  width: 100%;
  border-radius: 10px;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
}

.h_hero_container .learning_slide ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: white;
  margin: 20px 0 40px;
}

.h_hero_container .learning_slide ul li {
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  padding-left: 30px;
}

.h_hero_container .learning_slide ul li::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/vectors/a_vector.png");
  position: absolute;
  background-size: 100%;
  top: 3px;
  left: 0;
}

.h_hero_container .learning_slide a {
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  padding: 6px 0;
  margin-top: auto;
  transition: all 0.3s ease;
}

.h_hero_container .learning_slide a:hover {
  background: white;
}

.h_hero_container .learning_slide.blue a:hover {
  color: var(--d-blue);
}

.h_hero_container .learning_slide.violet a:hover {
  color: var(--violet);
}

.h_hero_container .learning_slide.green a:hover {
  color: var(--green-2);
}

/* Workshop Section */
.workshops_section {
  padding: 50px 0 60px;
  background: var(--cream);
  overflow: hidden;
  position: relative;
}

.workshops_section .gradient_1 {
  background: radial-gradient(50.11% 50.11% at 50.11% 49.89%,
      #dce8ba 0%,
      #dce8ba 0.01%,
      rgba(220, 232, 186, 0) 100%);
  width: 1200px;
  height: 1200px;
  top: -200px;
  left: 0px;
  position: absolute;
}

.workshops_container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.workshop_img_container {
  width: 40.4%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.workshop_tranings {
  width: 50%;
}

.workshop_img_container h2 {
  font-family: var(--ff-primary);
  font-size: 42px;
  font-weight: 500;
}

.workshop_img_container p {
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 400;
}

.workshop_img_container img {
  width: 100%;
}

.workshops_section .workshop_tranings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workshop_tranings ._training {
  box-shadow: 0px 6px 7px 0px #0d194214;
  background: white;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: black;
  gap: 7px;
  transition: all 0.3s ease;
}

.workshop_tranings ._training:hover {
  background: var(--violet);
  color: white;
}

.workshop_tranings ._training h4 {
  font-family: var(--ff-primary);
  font-size: 20px;
  font-weight: 500;
}

.workshop_tranings ._training .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workshop_tranings ._training .t_details {
  display: flex;
  gap: 30px;
}

.workshop_tranings ._training .t_details>div {
  display: flex;
  align-items: center;
  font-family: var(--ff-secondary);
  font-size: 18px;
  font-weight: 400;
  gap: 5px;
}

.workshop_tranings ._training .t_details span {
  font-weight: 700;
}

.workshop_tranings ._training .t_details p {
  font-weight: 400;
}

.workshop_tranings ._training .img_details {
  display: flex;
  gap: 4px;
}

.workshop_tranings ._training img {
  width: 32px;
}

.t_banner_section ._context {
  padding-left: 270px;
}

/* Media Queries */
@media (max-width: 1180px) {
  .h_hero_container ._img_title h1 {
    font-size: 44px;
  }

  .h_hero_container ._content h1 {
    font-size: 38px;
  }

  .h_hero_container ._img_title {
    width: 40%;
  }

  .h_hero_container ._content {
    width: 55%;
  }

  .h_hero_container .learning_slide h3 {
    font-size: 28px;
  }

  .workshop_img_container h2 {
    font-size: 36px;
    width: 390px;
  }
}

@media (max-width: 1150px) {
  .t_banner_section ._context {
    padding-left: 300px;
  }
}

@media (max-width: 1100px) {
  .h_hero_container .learning_slides {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }

  .h_hero_container .learning_slide {
    width: 40%;
  }

  .h_hero_section .gradient_2 {
    width: 1000px;
    height: 2800px;
  }

  .workshop_img_container img {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .h_hero_container ._img_title h1 {
    font-size: 38px;
  }

  .h_hero_container ._content h1 {
    font-size: 32px;
  }

  .workshops_container {
    flex-direction: column;
    gap: 50px;
  }

  .workshop_img_container {
    position: relative;
    width: 100%;
    padding-bottom: 100px;
  }

  .workshop_img_container p {
    width: 50%;
  }

  .workshop_img_container img {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .workshops_section .workshop_tranings {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .workshops_section .workshop_tranings ._training {
    width: 48%;
  }

  .workshops_section .gradient_1 {
    height: 1300px;
    top: -250px;
    left: -150px;
  }

  .workshop_img_container img {
    margin-top: 0px;
  }

  .t_banner_section ._context {
    padding-left: 310px;
  }
}

@media (max-width: 960px) {
  .t_banner_section ._context {
    padding-left: 330px;
  }
}

@media (max-width: 900px) {
  .h_hero_container ._img_title h1 {
    font-size: 36px;
  }

  .h_hero_container ._content h1 {
    font-size: 30px;
  }

  .h_hero_container .learning_slide {
    width: 45%;
  }

  .h_hero_section .gradient_2 {
    top: 150px;
    right: -250px;
    transform: rotate(1deg);
  }

  .workshop_img_container h2 {
    font-size: 32px;
    width: 340px;
  }

  .workshop_img_container {
    padding-bottom: 80px;
  }

  .workshop_tranings ._training .t_details {
    flex-direction: column;
    gap: 5px;
  }

  .workshop_tranings ._training .details {
    align-items: end;
  }

  .workshop_img_container img {
    width: 45%;
  }
}

@media (max-width: 800px) {
  .h_hero_container .img_content {
    flex-direction: column;
  }

  .h_hero_container .img_content>* {
    width: 100%;
  }

  .h_hero_container ._img_title img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }

  .h_hero_container .learning_slide {
    width: 75%;
  }

  .workshop_img_container p {
    width: 100%;
  }

  .workshop_img_container img {
    position: static;
    width: 65%;
    margin: 30px auto 10px;
  }

  .workshop_img_container {
    padding: 0;
  }

  .workshops_section .gradient_1 {
    height: 2100px;
    top: -400px;
    left: -40px;
  }

  .workshops_section .workshop_tranings ._training {
    width: 100%;
  }

  .workshop_tranings ._training .t_details {
    flex-direction: row;
    gap: 30px;
  }

  .workshop_tranings ._training .details {
    align-items: center;
  }

  .workshop_img_container h2 {
    font-size: 30px;
    width: 330px;
  }
}

@media (max-width: 760px) {
  .t_banner_section ._context {
    padding-left: 130px;
  }
}

@media (max-width: 700px) {
  .workshop_img_container h2 {
    font-size: 28px;
    width: 310px;
  }
}

@media (max-width: 600px) {
  .h_hero_container ._img_title img {
    width: 70%;
  }

  .h_hero_container .learning_slide {
    width: 90%;
  }

  .h_hero_section .gradient_1 {
    width: 500px;
    height: 800px;
    top: -230px;
    left: -190px;
  }

  .h_hero_section .gradient_2 {
    top: 150px;
    right: -100px;
    width: 400px;
  }

  .workshop_img_container img {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .h_hero_container ._img_title img {
    width: 80%;
  }

  .h_hero_container ._content h1 {
    font-size: 28px;
  }

  .h_hero_container .learning_slide {
    width: 95%;
  }

  .workshop_img_container h2 {
    font-size: 26px;
    width: 280px;
  }

  .workshop_tranings ._training .details {
    flex-direction: column;
    align-items: start;
    position: relative;
    gap: 10px;
  }

  .workshop_tranings ._training .details::before {
    content: "Learn more";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: var(--violet);
  }

  .workshop_img_container img {
    width: 80%;
  }

  .workshop_tranings ._training .t_details span {
    font-weight: 600;
  }

  .workshop_tranings ._training .t_details {
    flex-direction: column;
    gap: 5px;
    margin: 5px 0;
  }

  .workshops_section .gradient_1 {
    height: 3700px;
    top: -850px;
  }

  .t_banner_section ._context {
    padding-left: 100px;
  }
}

@media (max-width: 400px) {
  .h_hero_container ._img_title img {
    width: 90%;
  }

  .h_hero_container ._img_title h1 {
    font-size: 34px;
  }

  .h_hero_container ._content h1 {
    font-size: 26px;
    line-height: 1.3;
  }

  .h_hero_container ._content div>* {
    font-size: 16px;
  }

  .workshop_img_container img {
    width: 90%;
  }
}